.container{
    padding: 2%;
}

.navbar {
    background-image: url("images/estrelinha.jpg");
    width: 100%;
    justify-content: space-between;
    color: #fff;
}

#titulo {
    margin-left: 50px;
}

.nav-link {
    font-weight: bold;
    margin-right: 50px;
}

.navbar-brand {
    margin-left: 30px;
}

.espacocontainer {
    margin-top: 120px;
}

.text{
    margin-left: 10%;
    margin-right: 10%;
}

.title{
    font-size: 30px;
    font-weight: bold;
}


.subtitle{
    font-size: 25px;
    font-weight: bold;
}

.littletitle{
    font-size: 20px;
    text-decoration: underline;
}
.indice{
    font-size: 30px;
    font-weight: bold;
}

.content {
    justify-content: center;
}

body {
    background-color: rgb(219, 219, 219);
    background-color: rgb(14, 14, 24);
    color: white;
}
.sobrenos {
    display: flex;
}

.acordeao {
    color: black;
    font-family: -apple-system;
    margin-left: 10%;
    margin-right: 10%;
}
#table {
    border: 70px;

}